<div class="jumbotron text-center"> 
        <h1>Rent App Home </h1>
        <p class="lead">Welcome To Anand Rent App.</p>
        <div>
          <a class="btn btn-primary"  *ngIf="!authservice.logged_in();" [routerLink]="['/login']">Login</a>
          <a class="btn btn-primary" *ngIf="!authservice.logged_in();"  [routerLink]="['/register']">Register</a>
          
        </div>
      </div>

 <div class="row ">
   <div class="col-sm-4">
     <h3>About</h3>
     <p class="moreinfo">Hi! this app developed by sharad pawar. Full stack Develper cum senior Software Engineer cum PHP Developer</p>
   </div>
   <div class="col-sm-4">
     <h3>Description</h3>
     <p class="moreinfo">It is Simple Custom Rent Management System App for small scale Rent House Business Owner for manage their Renter Info

     </p>
   </div>
   <div class="col-sm-4">
     <h3>Features</h3>
     <ul>
       <li>Generate Monthy Billing including sub meter Light Bill.</li>
       <li>Rentar Registration With all his details.</li>
       <li>Reminder for end of rent aggreement</li>
       <li>Has Facility to upload and store Document of Rentar</li>
     </ul>

   </div>
 </div>